body{
    margin: 0;
    padding: 0;
    font-family: 'Baloo Tamma 2', cursive;
    color: #484848;
}
.header-container{
    background-image: url("/public/img/bg-blue.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1 {
    color: white;
    font-size: 3rem;
}
.header-container input {
    border-radius: 2px;
    height: 1.99rem;
    border: none;
    padding: 0px 50px 0px 20px;
}
.header-container button {
    border-radius: 2px;
    height: 2rem;
    border: none;
    background-color: #00a591;
    color: white;
    width: 100px;
}


.top-locations{
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-locations-header {
    background: #f8f8f8;
    margin-top: -90px;
    padding: 20px 23px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    box-shadow: 0 -12px 10px 0 rgba(42,47,54,.3);
    width: 40%;
    text-align: center;
}
.top-location-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.top-locations-content{
    text-align: center;
    width: 15%;
    transition: 0.3s ease-in-out;
}
.top-locations-content:hover{
    box-shadow: 3px 3px 12px rgba(42,47,54,.3);
    cursor: pointer;
    color: #00a591;
}

.switch-tabs-list{
    list-style-type: none;
}
.switch-tabs-list li{
    display: inline-block;
    margin: 3px;
    padding: 5px;
    border-radius: 2px;
    transition: 0.2s ease-in-out;
}
.ui-tabs-active{
    background-color: #00a591;
    color: white;
}
.switch-tabs-list li:hover{
    cursor: pointer;
    background-color: #00a591;
    color: white;
    padding: 5px;
}
.switch-tabs{
    display: flex;
    justify-content: center;
    align-items: center;
}
.note-content-container{
    display: flex;
    justify-content: center;
    align-items: center;
}